<section id="cPatientProfile">

    <section id="directP">
        <h2><a href="javascript:history.go(-1);" class="fontBlueNormal">Back</a> > <a href="" class="fontBlueNormal">Patient Profile</a></h2>
    </section>

    <section id="cPatProfile">
        <section id="cPatProfileInfo">
            <section id="pImg">
                <img src="/patienticon.png" alt="default patient img">
                <p class="fontBlue">{{thispatient.first_name}} {{thispatient.last_name}}</p>
            </section>
            
            <section id="perInfo1"> 
                <p><b>Username:</b> {{thispatient.user_name}}</p>               
                <p><b>D.O.B:</b> {{thispatient.DOB}}</p>
            </section>

            <section id="perInfo2"> 
                <p><b>Email:</b> {{thispatient.email}}</p>
            </section>

            <section id="badges">
                <section id="badgesContent">
                    <p class="fontWhiteNormal">Engagement</p>
                    <p class="fontWhiteNormal">Rate</p>
                    <p class="fontWhiteBold">80%</p>
                </section>
            </section>
        </section>

        <section id="recentMessage">
            <section id="recentMessageHead">
                <section id="recentMessageHeadImg"><img src="/mail_black.png" alt="mailIcon"></section>
                <section id="recentMessageHeadTitle"><h3>Clinician Message:</h3></section>
            </section>
            <section id="recentMessageContent">
                <p class="fontBlue">Support message for 2022/05/14:</p>
                <p>Sunny day! Nice weather! Let's start this wonderful day by breathing in some fresh air!</p>
                <br>
            </section>
        </section>
    </section>

    <section id="dailyData">
        <div id="dailyDataText"><h1 class="fontBlue">Medical Requirements</h1></div>

        <section id="todayData">
            
            <table id="onePatTodayTable">
                <tr>
                    <th>Blood Glucose Level<br>
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr> 
                <form action="{{thispatient._id}}/submit" method="post">
                    <tr>
                        <td>                       
                            <select id="blood_glucose_select" name="bgl_toggle">
                                <option value="false">not required</option>
                                <option value="true" {{#if bgl}} selected="selected" {{/if}}>required</option>
                            </select>                        
                        </td>
                        <td>
                            <select id="weight_select" name="weight_toggle">
                                <option value="false">not required</option>
                                <option value="true" {{#if weight}} selected="selected" {{/if}}>required</option>
                            </select>

                        </td>
                        <td>
                            <select id="insulin_taken_select" name="insulin_toggle">
                                <option value="false">not required</option>
                                <option value="true" {{#if insulin}} selected="selected" {{/if}}>required</option>
                            </select>
                        </td>
                        <td>
                            <select id="exercises_select" name="exercise_toggle">
                                <option value="false">not required</option>
                                <option value="true" {{#if exercise}} selected="selected" {{/if}}>required</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <section class="safetyRange">
                                <section class="lower" id="blood_glucose_lower">
                                    <input type="text" name="bgl_lower" pattern="^((0{1}\.\d{1,2})|([1-9]\d*\.{1}\d{1,2})|([1-9]+\d*)|0)$" title="must enter a non-negative number, rounded to 2 digits after the decimal" value={{bgl_lower}}  {{#if bgl}} {{else}} class="fixed" {{/if}}>
                                </section>
                                <section class="middle-"><p>-</p></section>
                                <section class="upper" id="blood_glucose_upper">
                                    <input type="text" name="bgl_upper" pattern="^((0{1}\.\d{1,2})|([1-9]\d*\.{1}\d{1,2})|([1-9]+\d*)|0)$" title="must enter a non-negative number, rounded to 2 digits after the decimal" value={{bgl_upper}} {{#if bgl}} {{else}} class="fixed" {{/if}}>
                                </section>
                            </section>
                        </td>
                        <td>
                            <section class="safetyRange">
                                <section class="lower" id="weight_lower"><input type="text" name="weight_lower" pattern="^((0{1}\.\d{1,2})|([1-9]\d*\.{1}\d{1,2})|([1-9]+\d*)|0)$" title="must enter a non-negative number, rounded to 2 digits after the decimal" value={{weight_lower}} {{#if weight}} {{else}} class="fixed" {{/if}}></section>
                                <section class="middle-"><p>-</p></section>
                                <section class="upper" id="weight_upper"><input type="text" name="weight_upper" pattern="^((0{1}\.\d{1,2})|([1-9]\d*\.{1}\d{1,2})|([1-9]+\d*)|0)$" title="must enter a non-negative number, rounded to 2 digits after the decimal" value={{weight_upper}} {{#if weight}} {{else}} class="fixed" {{/if}}></section>
                            </section>
                        </td>
                        <td>
                            <section class="safetyRange">
                                <section class="lower" id="insulin_taken_lower"><input type="text" name="insulin_lower" pattern="^[+]{0,1}(\d+)$" title="must enter a non-negative integer" value={{insulin_lower}} {{#if insulin}} {{else}} class="fixed" {{/if}}></section>
                                <section class="middle-"><p>-</p></section>
                                <section class="upper" id="insulin_taken_upper"><input type="text" name="insulin_upper" pattern="^[+]{0,1}(\d+)$" title="must enter a non-negative integer" value={{insulin_upper}} {{#if insulin}} {{else}} class="fixed" {{/if}}></section>
                            </section>
                        </td>
                        <td>
                            <section class="safetyRange">
                                <section class="lower" id="exercises_lower"><input type="text" name="exercise_lower" pattern="^[+]{0,1}(\d+)$" title="must enter a non-negative integer" value={{exercise_lower}} {{#if exercise}} {{else}} class="fixed" {{/if}}></section>
                                <section class="middle-"><p>-</p></section>
                                <section class="upper" id="exercises_upper"><input type="text" name="exercise_upper" pattern="^[+]{0,1}(\d+)$" title="must enter a non-negative integer" value={{exercise_upper}} {{#if exercise}} {{else}} class="fixed" {{/if}}></section>
                            </section>
                        </td>
                    </tr>
                    <input id="submit" type="submit" class="fontWhiteBold" value="Save" />
                </form>
            </table>
            
            <section id="todayNotes">
                <section id="newNotes">
                    <p id="lStart">Clinician Notes</p>               
                    <form action="{{thispatient._id}}/addNote" method="post">
                        <textarea name="noteContent" placeholder="Enter a new clinician note"></textarea>                  
                        <input type="submit" class="fontWhiteBold" value="Update" />
                    </form>
                </section>
                
                <section id="newSupportMessages">
                    <p id="lStart">Support Messages</p>
                    <form action="{{thispatient._id}}/addsupportMsg" method="post">
                        <textarea name="msgContent" placeholder="Enter new Support Messages"></textarea>                   
                        <input type="submit" class="fontWhiteBold" value="Update" />
                    </form>
                </section>

                               
            </section>
        </section>
    </section>

    <section id="directSection">

        <h1 class="fontBlue">Get Accessed To</h1>
        
        <section id="webDetailButtonHolder">
            <a id="button1" class="reDirectButtonA" href="/clinician/{{clinicianid}}/{{thispatient._id}}/viewData"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="view data"></div>
                <div class="ButtonAText"><p>View Patient Data</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button2" class="reDirectButtonA" href="/clinicianNotes"><section class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician notes"></div>
                <div class="ButtonAText"><p>Clinician Notes</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button3" class="reDirectButtonA" href="/clinician/{{clinicianid}}/patientComments"><section class="Jbot">
                <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                <div class="ButtonAText"><p>Patient Comments</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
    </section>
</section>