<!-- Clinician patient comments page-->
<section id="cliPatientComments">

    <!-- clinician personal information section-->
    <section id="directP">
        <h2><a href="profile" class="fontBlueNormal">Profile</a> > <a href="" class="fontBlueNormal">Patient Comments</a></h2>
    </section>

    <section id="allMessages">
        <table id="oneMessageSearch">
            <tr>
                <th>
                    All Comments
                </th>
            </tr> 
        </table>
        <table id="oneMessageTable">     
            {{#each comments}}    
                <td><a class= {{#if (is_in_dangRange this)}}"fontRed"{{else}}"fontBlueNormal"{{/if}} href="patient/{{this.owner}}">{{this.name}}</a></td>
                <td><p class={{#if (is_in_dangRange this)}}"fontRed"{{else}}"fontBlueNormal"{{/if}}>{{this.data_name}} : {{this.value}}<br>{{this.comment}}</p></td>
                <td><p class="supmessageTime">{{this.time}}</p></td>
            {{/each}}       
        </table>
    </section>

    <!-- direct to other pages section -->
    <section id="directSection">

        <h1 class="fontBlue">Get Accessed To</h1>

        <section id="webDetailButtonHolder">
            <a id="button1" class="reDirectButtonA" href="dashboard"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="clinician dashboard"></div>
                <div class="ButtonAText"><p>Dashboard</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button2" class="reDirectButtonA" href="/clinicianNotes"><section class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician notes"></div>
                <div class="ButtonAText"><p>Clinician Notes</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button3" class="reDirectButtonA" href="patientRegister"><section class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="patient register"></div>
                <div class="ButtonAText"><p>Patient Register</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>       
        </section>
        
    </section>  
</section>