<!-- Clinician dashboard page-->
<section id="clinicianHome">

    <!-- clinician personal information section-->
    <section id="clinicianInfo">
        <div class="blueLine"></div>
        <section id="profile">
            <section id="directP">
                <h2><a href="/clinicianProfile" class="fontBlueNormal">Profile</a> > <a href="" class="fontBlueNormal">Dashboard</a></h2>
            </section>
            <a href="/clinicianProfile" class="profileInfo">
                <img src="/annabrown.png" alt="default clinician img">
                <section class="proName"><p>Chris Brown</p></section>
                <section class="rightContent"><p>Username: chrisb666</p></section>
            </a>
        </section>
        <section id="firstBigText">
            <h1 class="fontBlue">Dashboard</h1>
        </section>
    </section>

    <!-- Clinician patients table-->
    <section id="allPatients">
            <table id="patientList">
                <tr>
                    <th>Patient List</th>
                    <th>Blood Glucose Level
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr>

                <!-- Patients from the database -->
                {{#each patient}}
                
                <tr>
                    <td><a class="fontBlueNormal" href="/patientProfile">{{this.first_name}} {{this.last_name}}</a></td>
                    
                    {{#if latest_log.length}}
                        {{#each latest_log}}
                            <td {{#if (is_bgl_in_dangRange this.value)}}class="fontRed"{{/if}} >{{#if (is_blood_glucose this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_insulin_take this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_weight this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_exercises this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                        {{/each}}
                        
                    {{else}}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    {{/if}}
                    
                </tr>
                
                {{/each}}
            </table>
    </section>

    <!-- direct to other pages section -->
    <section id="directSection">

        <section id="directHeader">   
            <h1 id="directM" class="fontBlue">Get Accessed To</h1>          
        </section>

        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href="/clinicianProfile"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="clinician dashboard"></div>
                <p class="ButtonAText">Clinician Profile</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="/clinicianNotes"><section class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="clinician note"></div>
                <p class="ButtonAText">Clinician Notes</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="/patientComments"><section class="Jbot">
                <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                <p class="ButtonAText">Patient Comments</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
        
    </section>  
</section>