<section id="clinicianHome">
    <section id="clinicianInfo">
        <div id="blueLine"></div>
        <section id="profile">
            <div id="directP">
                <p class="fontBlueNormal">Profile > Dashboard</p>
            </div>
            <div id="profileInfo">
                <img src="/annabrown.png" alt="default clinician img">
                <p id="cliName" class="fontBlue">Chris Brown</p>
                <p id="userName" class="fontBlue">Username: chrisb666</p>
            </div>
        </section>
        <section id="dashboardText">
            <p id="dashText" class="smallTitle">Dashboard</p>
        </section>
    </section>

    <section id="allPatients">
        
            <table id="patientList">
                <tr>
                    <th>Patient List</th>
                    <th>Blood Glucose Level
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr>

                {{#each patient}}
                <tr>
                    <td class="fontBlueNormal">{{this.fist_name}} {{this.last_name}}</td>
                    <td>{{this.blood_glucose_level}}</td>
                    <td>{{this.weight}}</td>
                    <td>{{this.insulin_take}}</td>
                    <td>{{this.exercises}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td class="fontBlueNormal">Austin Hunter</td>
                    <td>8.4</td>
                    <td class="fontBlueNormal">-</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Vicky Hamilton</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontRed">76.2</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Norma Shaffer</td>
                    <td>7.9</td>
                    <td>78.4</td>
                    <td>N/A</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Amani Lacey</td>
                    <td>8.1</td>
                    <td>58.2</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Logan Smith</td>
                    <td>7.8</td>
                    <td class="fontBlueNormal">-</td>
                    <td>N/A</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Sherry Marsh</td>
                    <td>8.3</td>
                    <td>67.9</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Katy Wynn</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Daid Anderson</td>
                    <td class="fontBlueNormal">-</td>
                    <td>72.8</td>
                    <td>N/A</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Evan Britton</td>
                    <td class="fontRed">11.0</td>
                    <td class="fontRed">85.8</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
            </table>
        

    </section>


    <section id="directSection">
        <section id="directHeader">   
            <p id="directM" class="smallTitle">Get Accessed To</p>         
        </section>

        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="clinician note"></div>
                <p class="ButtonAText">Clinician Notes</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                <p class="ButtonAText">Patient Comments</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician contacts"></div>
                <p class="ButtonAText">Clinician Contacts</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
        </section>
    </section>
    
</section>