<!-- Clinician dashboard page-->
<section id="clinicianHome">

    <!-- clinician personal information section-->
    <section id="clinicianInfo">
        <section id="directP">
            <h2><a href="/clinician/profile" class="fontBlueNormal">Profile</a> > <a href="" class="fontBlueNormal">Dashboard</a></h2>
        </section>
    </section>

    <!-- Clinician patients table-->
    <section id="allPatients">
            <table id="patientList">
                <tr>
                    <th>Patient List</th>
                    <th>Blood Glucose Level
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr>
            </table>
            <table id="tableScroll">
                <!-- Patients from the database -->
                {{#each patient}}
                    <td > <a class="fontBlueNormal" href="patient/{{this.id}}" > {{this.name}} </a></td>
                    <td {{#if (is_require_in_dangRange this.bgl)}} class="fontRed" {{else}} class="fontBlueNormal" {{/if}}>
                        {{this.bgl.value}}
                    </td>
                    <td {{#if (is_require_in_dangRange this.weight)}} class="fontRed" {{else}} class="fontBlueNormal" {{/if}}>
                        {{this.weight.value}}
                    </td>
                    <td {{#if (is_require_in_dangRange this.insulin)}} class="fontRed" {{else}} class="fontBlueNormal" {{/if}}>
                        {{this.insulin.value}}
                    </td>
                    <td {{#if (is_require_in_dangRange this.exercise)}} class="fontRed" {{else}} class="fontBlueNormal" {{/if}}>
                        {{this.exercise.value}}
                    </td>
                {{/each}}
            </table>

            <section id="tableNote">
                <p>Note:<br>
                <tag class="fontRed">x</tag> means this data entry is required for this patient, but he/she hasn't entered yet.<br>
                <tag class="fontBlueNormal">x</tag> means this data entry is not required for this patient.
                </p>
            </section>
    </section>

    <!-- direct to other pages section -->
    <section id="directSection">

        <h1 class="fontBlue">Get Accessed To</h1>

        <section id="webDetailButtonHolder">
            <a id="button1" class="reDirectButtonA" href="clinicalNotes"><section class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician notes"></div>
                <div class="ButtonAText"><p>Clinician Notes</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button2" class="reDirectButtonA" href="patientRegister"><section class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="patient register"></div>
                <div class="ButtonAText"><p>Patient Register</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button3" class="reDirectButtonA" href="patientComments"><section class="Jbot">
                <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                <div class="ButtonAText"><p>Patient Comments</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
        
    </section>  
</section>