<!-- record data page-->
<section id="patientEnter">

    <section id="directP">
        <h2><a href="home" class="fontBlueNormal">Home</a> > <a href="" class="fontBlueNormal">Record Data</a></h2>
    </section>

    <!-- data enter section-->
    <section id="recordBars">
        
        <!-- blood glucose level enter-->
        <section class="RecordBar">
            <section class="RecordBlueBar">
                {{#if log_glucose}} <!-- if today's blood glucose level hasn't been entered-->
                    <section class="RecordInnerBar">
                        
                        <!-- data enter-->
                        <form class="recordArea" method="POST" action="/patient/{{id}}/submit_log">
                                <b>Health Data Name</b><input type="text" value="blood glucose level" name="data_name" readonly>
                                <b>Value</b><input type="text" name="value" >
                                <b>Comments</b><input type="text" name="comment" >
                                <input type="submit" class="fontWhiteBold" value="Save">                             
                        </form>

                    </section>
                {{else}} <!-- if today's blood glucose level has been entered-->
                    <section class="RecordFinish">
                        <h3 class="fontRed">## Your blood glucose level has been entered today!!! ##</h3>
                        <h3 class="fontRed">No more enter is allowed</h3>
                        <h3 class="fontRed">Remember to enter your blood glucose level tomorrow</h3> 
                    </section>
                {{/if}}

                {{#if log_weight}}
                    <section class="recordRight">
                        <form class="recordArea" method="POST" action="/patient/{{id}}/submit_log">
                            <b>Health Data Name</b><input type="text" value="weight" name="data_name" readonly/>
                            <b>Value</b><input type="text"  name="value" />
                            <b>Comments</b><input type="text"  name="comment" />
                            <input type="submit" class="fontWhiteBold" value="Save"> 
                        </form>
                    </section>
                {{else}}
                    <section class="recordRight" >
                        <h3 class="fontRed">## Your weight has been entered today!!! ##</h3>
                        <h3 class="fontRed">No more enter is allowed</h3>
                        <h3 class="fontRed">Remember to enter weight tomorrow</h3> 
                    </section>
                {{/if}}
            </section>
        </section>
    

        <!-- insulin take enter-->
        <section class="RecordBar">
            <section class="RecordBlueBar">
                {{#if log_insulin}}
                    <section class="RecordInnerBar">

                        <!-- data enter-->
                        <form class="recordArea" method="POST" action="/patient/{{id}}/submit_log">
                            <b>Health Data Name</b><input type="text" value="insulin take" name="data_name" readonly/>
                            <b>Value</b><input type="text"  name="value" />
                            <b>Comments</b><input type="text"  name="comment" />
                            <input type="submit" class="fontWhiteBold" value="Save">  
                        </form>

                    </section>
                {{else}} <!-- if today's insulin has been entered-->
                    <section class="RecordFinish">
                        <h3 class="fontRed">## Your insulin taken has been entered today!!! ##</h3>
                        <h3 class="fontRed">No more enter is allowed</h3>
                        <h3 class="fontRed">Remember to enter your Insulin tomorrow</h3> 
                    </section>
                {{/if}}

                {{#if log_exercise}}
                    <section class="recordRight">
                        <form class="recordArea" method="POST" action="/patient/{{id}}/submit_log">
                            <b>Health Data Name</b><input type="text" value="exercises" name="data_name" readonly/>
                            <b>Value</b><input type="text" name="value" />
                            <b>Comments</b><input type="text" name="comment" />
                            <input type="submit" class="fontWhiteBold" value="Save">  
                        </form>
                    </section>
                {{else}}
                    <section class="recordRight">
                        <h3 class="fontRed">## Your Exercise has been entered today!!! ##</h3>
                        <h3 class="fontRed">No more enter is allowed</h3>
                        <h3 class="fontRed">Remember to enter your Exercises tomorrow</h3> 
                    </section>
                {{/if}}
            </section>
        </section>
    </section>

    
    <!-- direct to other pages section -->
    <section id="directSection">

        <h1 class="fontBlue">Get Accessed To</h1>

        <section id="webDetailButtonHolder">
            <a id="button1" class="reDirectButtonA" href="home"><section class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="home"></div>
                <div class="ButtonAText"><p>Home</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button2" class="reDirectButtonA" href="/viewData"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="view data"></div>
                <div class="ButtonAText"><p>View All Data</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button3" class="reDirectButtonA" href="/editProfile"><section class="Jbot">
                <div class="Jimg"><img src="/editprofileicon.png" alt="edit profile"></div>
                <div class="ButtonAText"><p>Edit Profile</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
        
    </section>
    
    
</section>