<!-- patient home section -->
<section id="patientHome">

    <!-- patient personal info section -->
    <section id="patProfile">
        <section id="patProfileInfo">
            <section id="pImg">
                <img src="/patienticon.png" alt="default patient img">
                <p class="fontBlue">{{thispatient.first_name}} {{thispatient.last_name}}</p>
            </section>
            
            <section id="perInfo1"> 
                <p><b>Username:</b> {{thispatient.user_name}}</p>
                <p><b>Email:</b> {{thispatient.email}}</p>
                <p><b>D.O.B:</b> {{thispatient.DOB}}</p>
            </section>

            <section id="perInfo2"> 
                <p><b>Clinician In Charge:</b> {{clinician.first_name}} {{clinician.last_name}}</p>
                <p><b>Biography:</b> {{thispatient.biography}}</p>
            </section>

            <section class="blueButton">
                <p><a class="fontWhiteBold" href="/editProfile">Edit Profile</a></p>
            </section>
        </section>

        <section id="badges">
            <section id="badgesContent">
                <p class="fontWhiteBold">Badges</p>
                <img src="/trophygif.gif" alt="badge image">
            </section>
        </section>

        <section id="recentMessage">
            <section id="recentMessageHead">
                <section id="recentMessageHeadImg"><img src="/mail_black.png" alt="mailIcon"></section>
                <section id="recentMessageHeadTitle"><h3>Clinician Message:</h3></section>
            </section>
            <section id="recentMessageContent">
                <p class="fontRed">Sunny day! Nice weather! Let's start this wonderful day by breathing in some fresh air!</p>
            </section>
        </section>
    </section>

    <!-- daily data table section -->
    <section id="dailyData">

        <div id="dailyDataText"><h1 class="fontBlue">Daily Data</h1></div>

        <section id="todayData">

            <section id="tableHead">
                <div id="today"><p>Today</p></div>
                <div id="recordData"><a href="/patient/{{thispatient._id}}/record"><p>Record Data</p></a></div>
                <div id="viewAll"><a href="/viewData"><p>View All</p></a></div>
            </section>
            
            <table id="onePatTodayTable">
                <tr>
                    <th>Date</th>
                    <th>Blood Glucose Level<br>
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr> 
                <tr>
                    <td class="fontBlueNormal">
                        {{time}};
                    </td>
                    {{#if thispatient.latest_log.length}}
                        {{#each thispatient.latest_log}}
                            <td {{#if (is_bgl_in_dangRange this.value)}}class="fontRed"{{/if}} >{{#if (is_blood_glucose this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_insulin_take this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_weight this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_exercises this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                        {{/each}}
                    {{else}}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    {{/if}}
                </tr>
            </table>
        </section>

    </section>

    <!-- leaderboard section(hard coded) -->
    <section id="leaderBoard">
        <div id="leaderBoardText"><h1 class="fontBlue">Leaderboard</h1></div>
        <section id="rank">
            <section id="boardHead">
                <p id="congratulation">Congratulations on</p>
                <p class="fontRedBold" id="firstRankName">sherrym999</p>
                <p id="congraBottom">earning the No.1 title of Motivated King of all times!</p>
            </section>

            <section id="top5">
                <section id="firstRank" class="profileInfo">
                    <img src="/patienticon.png" alt="1st rank img">
                    <section class="proName"><p>sherrym999</p></section>
                    <section class="rightContent"><p id="No1">No.1</p></section>
                </section>
                <section id="secondRank" class="profileInfo">
                    <img src="/patienticon.png" alt="2st rank img">
                    <section class="proName"><p>austh27</p></section>
                    <section class="rightContent"><p>No.2</p></section>
                </section>
                <section id="thirdRank" class="profileInfo">
                    <img src="/patienticon.png" alt="3st rank img">
                    <section class="proName"><p>logansth01</p></section>
                    <section class="rightContent"><p>No.3</p></section>
                </section>
                <section id="forthRank" class="profileInfo">
                    <img src="/patienticon.png" alt="4st rank img">
                    <section class="proName"><p>norbeaut67</p></section>
                    <section class="rightContent"><p>No.4</p></section>
                </section>
                <section id="fifthRank" class="profileInfo">
                    <img src="/patienticon.png" alt="5st rank img">
                    <section class="proName"><p>amlap09</p></section>
                    <section class="rightContent"><p>No.5</p></section>
                </section>
            </section> 
        </section>
    </section>

    <!-- direct to other pages section -->
    <section id="directSection">

        <h1 id="directHeader" class="fontBlue">Get Accessed To</h1>

        <section id="webDetailButtonHolder">
            <a id="button1" class="reDirectButtonA" href="/viewData"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="view data"></div>
                <div class="ButtonAText"><p>View All Data</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button2" class="reDirectButtonA" href="record"><section class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="record data"></div>
                <div class="ButtonAText"><p>Record Data</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button3" class="reDirectButtonA" href="/editProfile"><section class="Jbot">
                <div class="Jimg"><img src="/editprofileicon.png" alt="edit profile"></div>
                <div class="ButtonAText"><p>Edit Profile</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
    </section>
    
</section>
