<!-- patient home section -->
<section id="patientHome">

    <!-- patient personal info section -->
    <section id="patientInfo">
        <div class="blueLine"></div>
        <section id="patProfile">
            <section id="patProfileInfo">
                <section id="pImg">
                    <img src="/patienticon.png" alt="default patient img">
                    <p class="fontBlue">{{thispatient.first_name}} {{thispatient.last_name}}</p>
                </section>
                
                <section id="perInfo1"> 
                    <p><b>Username:</b> {{thispatient.user_name}}</p>
                    <p><b>Email:</b> {{thispatient.email}}</p>
                    <p><b>D.O.B:</b> {{thispatient.DOB}}</p>
                </section>

                <section id="perInfo2"> 
                    <p><b>Clinician In Charge:</b> Chris Brown</p>
                    <p><b>Biography:</b> {{thispatient.biography}}</p>
                </section>

                <section class="blueButton">
                    <p><a class="fontWhiteBold" href="">Edit Profile</a></p>
                </section>
            </section>

            <section id="badges">
                <section id="badgesContent">
                    <p class="fontBlue">Badges</p>
                    <img src="/trophygif.gif" alt="badge image">
                </section>
            </section>
        </section>
    </section>

    <!-- daily data table section -->
    <section id="dailyData">

        <div id="dailyDataText"><h1 class="fontBlue">Daily Data</h1></div>

        <section id="todayData">

            <section id="tableHead">
                <div id="today"><p>Today</p></div>
                <div id="recordData"><p><a href="/patient/{{thispatient._id}}/record">Record Data</a></p></div>
                <div id="viewAll"><p><a href="">View All</a></p></div>
            </section>
            
            <table id="onePatTodayTable">
                <tr>
                    <th>Date</th>
                    <th>Blood Glucose Level
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr> 
                <tr>
                    <td class="fontBlueNormal">
                        {{time}};
                    </td>
                    {{#if thispatient.latest_log.length}}
                        {{#each thispatient.latest_log}}
                            <td {{#if (is_bgl_in_dangRange this.value)}}class="fontRed"{{/if}} >{{#if (is_blood_glucose this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_insulin_take this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_weight this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                            <td>{{#if (is_exercises this.name)}}{{this.value}}{{else}}-{{/if}}</td>
                        {{/each}}
                    {{else}}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    {{/if}}
                </tr>
            </table>
        </section>

    </section>

    <!-- support messages section(hard coded) -->
    <section id="tableArea">

        <div id="tableAreaText"><h1 class="fontBlue">Support Messages</h1></div>

        <section id="allMessages">
            <table id="oneMessageSearch">
                <tr>
                    <th>
                        <form>
                            <select name="display">
                                <option value="time">Last 7 Days</option>
                                <option value="all">All</option>
                                <option value="read">Read</option>
                                <option value="unread">Unread</option>
                                <option value="favourite">Favourite</option>
                            </select>
                        </form>
                    </th>
                    <th></th>
                    <th>
                        <div id="searchBar2">
                            <div>
                                <input type="search" placeholder="Search">
                            </div>
                            <div>
                                <input type="submit" id="smallLook" value="">
                        </div>
                    </th>
                </tr> 
            </table>
            <table id="oneMessageTable">
                
                <tr>
                    <td class="fontBlueNormal">Chris Brown</td>
                    <td>Today's weather is great for taking a walk don't you think so?</td>
                    <td class="supmessageTime">10:00 AM</td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Chris Brown</td>
                    <td>Pat, your level seems stable at the moment, but I recommend more exercise to lose some weight</td>
                    <td class="supmessageTime">16/03/2022</td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Chris Brown</td>
                    <td>Sunny day! Nice weather! Let's start this wonderful day by breathing in some fresh air</td>
                    <td class="supmessageTime">15/03/2022</td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Chris Brown</td>
                    <td>I guess you still need few more doses per day to lower the blood glucose level of yours, but also watch out for anything sweet as well</td>
                    <td class="supmessageTime">14/03/2022</td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Chris Brown</td>
                    <td>Hope you had a great birthday moment last night! Let's see how your blood glucose level goes today</td>
                    <td class="supmessageTime">13/03/2022</td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Chris Brown</td>
                    <td>Happy birthday Pat!;)</td>
                    <td class="supmessageTime">12/03/2022</td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">Chris Brown</td>
                    <td>Let's start the day by sugar-free, what do you think?</td>
                    <td class="supmessageTime">11/03/2022</td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
            </table>
        </section>
    </section>

    <!-- leaderboard section(hard coded) -->
    <section id="leaderBoard">
        <div id="leaderBoardText"><h1 class="fontBlue">Leaderboard</h1></div>
        <section id="rank">
            <section id="boardHead">
                <p id="congratulation">Congratulations on</p>
                <p class="fontRedBold" id="firstRankName">sherrym999</p>
                <p id="congraBottom">earning the No.1 title of Motivated King of all times!</p>
            </section>

            <section id="top5">
                <section id="firstRank" class="profileInfo">
                    <img src="/patienticon.png" alt="1st rank img">
                    <p class="proName">sherrym999</p>
                    <p id="No1" class="rightContent">No.1</p>
                </section>
                <section id="secondRank" class="profileInfo">
                    <img src="/patienticon.png" alt="2st rank img">
                    <p class="proName">austh27</p>
                    <p class="rightContent">No.2</p>
                </section>
                <section id="thirdRank" class="profileInfo">
                    <img src="/patienticon.png" alt="3st rank img">
                    <p class="proName">logansth01</p>
                    <p class="rightContent">No.3</p>
                </section>
                <section id="forthRank" class="profileInfo">
                    <img src="/patienticon.png" alt="4st rank img">
                    <p class="proName">norbeaut67</p>
                    <p class="rightContent">No.4</p>
                </section>
                <section id="fifthRank" class="profileInfo">
                    <img src="/patienticon.png" alt="5st rank img">
                    <p class="proName">amlap09</p>
                    <p class="rightContent">No.5</p>
                </section>
            </section> 
        </section>
    </section>

    <!-- direct to other pages section -->
    <section id="directSection">

        <section id="directHeader">   
            <h1 id="directM" class="fontBlue">Get Accessed To</h1>          
        </section>

        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href=""><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="view daily data"></div>
                <p class="ButtonAText">View Daily Data</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="record"><section class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="record data"></div>
                <p class="ButtonAText">Record Data</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href=""><section class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician contacts"></div>
                <p class="ButtonAText">Clinician Contacts</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>

    </section>
    
</section>
